# **How to use R in the Googgle Colab environment.**

## **Creating R runtime environment in Colab**

We can open a R notebook directly in the Google colab. 

Steps:

1. Open your favorite browser.
2. Type https://colab.research.google.com/#create=true&language=r, or this short URL https://colab.to/r

Remember when you open a notebook like this, Colab will create a note book inside a folder called **"Colab Notebooks"** and the default file name will be **Untitled0.ipynb**.

Apparently, this notebook looks no different than a Python notebook. But when you to the “Runtime” settings, and select “Change runtime type”, you will see that the **Runtime type** is set to R that confirms that you are already in R runtime.

Voila!! You are set to write the program in R now.

 You can write following code to check current version of R.

In [ ]:
R.version.string

If you like to know what are the pacekges already installed in this enviornment, run the following command.

In [ ]:
print(installed.packages())

And if you like to install a new package then use the following command.

In [ ]:
install.packages("<package name>")

You can temporarily upload data in the 'content' folder but you cannot mount your Google drive in the R runtime environment.

Alternatively, you can read the file from an external repository such as Github.

In [ ]:
library("tidyverse")

In [ ]:
df <- read_csv("/content/sample_data/california_housing_train.csv")

Rows: 17000 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (9): longitude, latitude, housing_median_age, total_rooms, total_bedroom...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
head(df)

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -114.31   34.19    15                 5612        1283           1015
2 -114.47   34.40    19                 7650        1901           1129
3 -114.56   33.69    17                  720         174            333
4 -114.57   33.64    14                 1501         337            515
5 -114.57   33.57    20                 1454         326            624
6 -114.58   33.63    29                 1387         236            671
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500
6 239        3.3438        74000

## **Running R code in a Python runtime.**

In case you want to run both R and Python code in a Python runtime environment then you need to use rpy2 package. And the process are as follows:

*   Open a browser 
*   Create a new Colab Notebook 
*   Uninstall the current version of rpy2 `!pip uninstall rpy2 -y`
*   Install this version of rpy2 `!pip install rpy2==3.5.1`
*   Restart the runtime
*   Write the following code `%load_ext rpy2.ipython`
*   Use this command at the beginning of the cell `%%R`

x <- c("We love R programming!")
print(x)

In [ ]:
!pip uninstall rpy2 -y

In [ ]:
!pip install rpy2==3.5.1

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R

x <- c("We love R programming!")
print(x)